body
{
margin : 20 px;
font-family : verdana, geneva, tahoma, sans serif;
}
.img_edit
{
width : 300px;
}
.card
{
width : 550px;
margin-left : auto;  /* margin : 0 auto ; */
margin-right : auto;
background:#ddebf8;
border-radius : 10px;
padding: 20px;
display: flex;
justify-content: space-around;
text-align : center;
color : #2b2839;
border-bottom : 10px solid #d8cefe;
}
.border
{
border : 1px dotted blue;
}